h1 {
  font-size: 32px !important;
 }

h2 {
  font-size: 20px !important;
  padding-bottom: 10px;
}

h3 {
  font-size: 15px !important;
  font-weight: 100;
}

h6 {
  font-size: 32px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: 16px !important;
  font-family: "Poppins", sans-serif;
}


button { 
  font-size: 17px !important;
  }

button:hover { 
  background-color: #020202 !important;
  
}

/* ================= SIZING TABLE ================ */

.sizing-chart {
  margin-top: 20px;
}

.size-buttons {
  display: flex;
  gap: 8px;
}

.size-button {
  padding: 14px 18px;
  background-color: #fbfbfb;
  border: 1px solid #ddd;
  cursor: pointer;
  
}

.size-button:hover {
    color: #eaeaea;
}

/* ================= REVIEW STARS ================ */
.reviewContainer {
  
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 16px;
}

.form-group label {
  font-size: 12px;
  float: left;
  padding: 2px;
  font-weight: 700;
}

.form-group textarea {
  outline: none;
}

.star-rating {
  display: flex;
}

.star {
  font-size: 30px;
  color: gold;
  padding-right: 4px;
}

.reviewBtn {
  color: #ddd;
  font-size: 18px !important;
  margin-top: 15px !important;
  width: 80%;
  background-color: black !important;
  font-family: 'Monument Extended', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .12rem;
}

