.categories-header {
  font-size: 30px !important;
  padding-top: 10px;
  margin-bottom: -14px;
  margin-left: 10px;
  text-align: left;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 1.5%;
  gap: 1.5rem;
}


.card-container {
  overflow: hidden;
  box-shadow: 4px 0px 15px 0px rgba(141, 141, 141, 0.75);
  border-radius: 0.5rem; 
}

.card-image {
  width:fit-content;
  object-fit: cover;
  height: 300px;
}


.card-btn {
  margin: 1rem;
  margin-bottom: 24px;
  padding: .5rem 1.5rem;
  background-color: rgb(238, 236, 236);
  border-style: solid;
  border-radius: 0.5rem;
  
}

.card-btn:hover {
  color: white;
  background-color: #593598;
}

.cardDescription {
  font-weight: bold;
  margin-top: 20px;
}