.card-title {
  text-align: left;
  font-size: 18px !important;
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
  font-weight: 600;
  min-height: 50px;
}

.card-brand{
  font-weight: 600;
  line-height: 1.2;
  font-size: 14px !important;
  text-align: left;
  padding: 0 !important;
  margin: 0px !important;
}

.card-subtitle{
  font-weight: 500;
  line-height: 1.2;
  font-size: 12px !important;
  text-align: left;
  padding: 0 !important;
  margin: 3px 0 !important;
}

.card-text{
  text-align: left;
  font-size: 16px !important;
  margin: 16px 0;
}

.custom-select{
    padding: 5px;
    margin-right: 5px;
    max-width: 80px;
    font-weight: 600;
}

.cartBtn{
  cursor: pointer;
  color: white;
  font-size: 14px;
  background-color: #343a40;
  padding: 8px 12px;
}

.card{
  width: 250px;
  height: 450px;
  max-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
}

.specialTag{
  display: inline;
  position: absolute;
  padding-top: 5px;
}

.specialTag img{
  width: 100px;
}