.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .preloader img {
    width: 500px; 
    height: auto; 
  }

  @media (max-width: 1000px) {
    .preloader img {
      width: 100%; 
      height: auto; 
    }
}