/* Contact Us Page */
form{
  font-family: Inter,sans-serif;
}
textarea, select, input, button { outline: none; }
.loginContainer{
  width: 50%;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 16px;
}

.form-group label {
  font-size: 12px;
  float: left;
  padding: 2px;
  font-weight: 700;
}
.form-group input {
  outline: none;
}
input:focus, input {
  outline: none;
}

#emailHelp{
  font-size: 12px;
  display: block;
}

#loginBtn{
  margin-top: 15px !important;
  width: 80%;
  background-color: black !important;
  font-family: 'Monument Extended', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .12rem;
}