.main-footer {
  background-color: rgb(245, 245, 245);
  color: black;
  margin-top: 50px;
  border-top: 1.5px solid #d2d2d2;
  padding-top: 30px;
 }

.container {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

ul {
  list-style: none;
  padding: 0;
}
li:hover {
  color: #700CB3 ;
}

ul li {
  margin-bottom: 12px;
  margin-right: 20px;
}
.icon {
  column-rule-color: blue;

}
.socials {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.socials li {
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 4rem;
}

.socialIcon:hover {
color: #593598;
cursor: pointer;
}

.signup-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


.input {
  border: solid 0.2rem #808080;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  width: 100%;
}

::placeholder {
  font-size: 16px;
}

.button {
  flex-shrink: 0;
  padding: 0 2rem;
  border-radius: 0.5rem;
  background-color: rgb(175, 172, 172);
  color: rgb(255, 255, 255);
  font-size: 1rem !important;
  align-self: stretch;
  border-color: rgb(74, 74, 74);
}

.button:hover {
  background-color: #593598;
}

.copyright-section p{
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: 500;
  word-spacing: 2px;
  letter-spacing: 0.5px;
}