
/* Login page */
form{
    font-family: Inter,sans-serif;
}
.loginContainer{
    width: 50%;
    border: 1px solid gray;
    border-radius: 16px;
    padding: 16px;
}

.form-group label {
    font-size: 12px;
    float: left;
    padding: 2px;
    font-weight: 700;
}

#emailHelp{
    font-size: 12px;
    display: block;
}

#loginBtn{
    margin-top: 10px !important;
    width: 80%;
    background-color: black !important;
}