.checkout{
  margin: 2% 0 2% 10%;
text-align: left;
text-decoration: none;
color: rgb(0, 0, 0);
font-weight: bold;
font-size: 16px;
}


.checkoutButton {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    width:150px;
    

  }
  
  .checkoutButton:hover {
    background-color: black; 
  }

  .total {
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 10% 0 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
  }
  

  .total h2,
  .total button {
    display: flex;
    align-items: center;
  }

  .total h2 {
    flex: 1; 
  }
  
  .total button {
    flex-shrink: 0;
  }
  

  .atcproducts {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .atcproducts,h2 {
    display: flex;
    justify-content: start;
    
  }

  .products{
    margin: 10% 0 0 0;
  }

  .atcContainer{
    display: inline-flex;
    justify-content:center ;
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;


    
  }

  .voucher {
    width: 100%;
    margin: 5% 10% 0 10%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    align-items: left; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .input {
    width: 100%; 
    margin-bottom: 10px; 
    padding: 0;
  }
  
  .voucherButton {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    width: 150px;
  }
  
  .voucherButton:hover {
    background-color: black;
  }


  @media (max-width: 600px) {

    .total {
      
      flex-wrap: wrap;
      justify-content: center;
      margin: 5% 1% 5% 1%;
      

}

.atcContainer {
flex-wrap: wrap;
justify-content: center;
}


.voucher{
  border-left: none;
  margin: 5% 1% 5% 1%;
  padding: 5px;

}

.atcproducts {

  margin: 5% 1% 5% 1%;

}

.checkoutButton {
margin: 0% 5% 0% 5%;

  

}


  }