.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-bottom: 0 !important;
    margin-right: 30px
    
}

.nav-links li {
    margin-bottom: 0 !important;
}

.nav-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0 !important;
    margin-right: 30px;
}

.icon{ 
    font-size: 22px;
    transition: transform 0.3s ease;
}

.icon:hover { 
    transform: scale(0.9); 
}

.nav-link:hover {
    color: #593598;
}

.Header-top-row {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-bottom: 0.5px solid grey;
}


.header {
    margin: 0px 10% 0% 10%;
    border-radius: 0px 0px 25px 25px;
    border: 1px solid hsl(80, 7%, 92%);
    padding: 0px 25px 10px 25px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.header-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tab {
font-size: 12px !important;
font-weight: bold;
padding-top: 5px;
}

.header-nav-icons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header-nav-icons input {
    margin-right:4px;
}

.header-nav-icons p {
    margin-bottom: 0 !important;
    
}

.navItems{
    
    width: 100%;
    
}


.header-nav-icons{
    margin:0% 5% 0% 5% ;
}

@media (max-width: 600px) {
    .header {
        margin: 0px 2% 0% 2%;
        
        padding: 0px 10px 10px 10px ;
    
    }
    .header-nav-icons{
        margin:5% 5% 0% 20% ;

    }

    .logo{
        margin: 0 0 5% 0;
    }


}