.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-bottom: 0 !important;
    margin-right: 30px
    
}

.nav-links li {
    margin-bottom: 0 !important;
}

.nav-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0 !important;
    margin-right: 30px;
}

.icon{ 
    font-size: 22px;
    transition: transform 0.3s ease;
}

.icon:hover { 
    transform: scale(0.9); 
}

.nav-link:hover {
    color: #593598;
}

.Header-top-row {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-bottom: 0.5px solid grey;
}


.header {
        width: 80%;
        z-index: 1000;
        position: fixed;
        background: white;
        margin: 0px auto;
        /* margin-bottom: 50px; */
        top: 0;
        left: 10%;
        border-radius: 0px 0px 16px 16px;
        border: 1px solid hsl(80, 7%, 92%);
        padding: 0px 10px 5px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.header-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tab {
font-size: 12px !important;
font-weight: bold;
padding-top: 5px;
}

.header-nav-icons {
    display: flex;
    gap: 5px;
    align-items: center;
}

.header-nav-icons input {
    margin-right:4px;
}

.header-nav-icons p {
    margin-bottom: 0 !important;
    
}

.navItems{
    
    width: 100%;
    
}
.burgermenu{
    margin:1%;
    position: relative;
    right: -150px;
}



@media (max-width: 600px) {
    .header {
        margin: 0px 2% 0% 2%;
        
        padding: 0px 10px 10px 10px ;
    
    }
    .header-nav-icons{
        margin:5% 5% 0% 20% ;

    }

    .logo{
        margin: 0 0 5% 0;
    }


}