.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-bottom: 0 !important;
}

.nav-links li {
    margin-bottom: 0 !important;
}

.nav-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0 !important;
}

.nav-link:hover {
    color: #ff0000a5;
}

.Header-top-row {
    display: flex;
    justify-content: end;
    gap: 10px;
    border-bottom: 1px solid grey;
    font-size: small;
}

.header {
    margin: 0px 10% 0% 10%;
    border-radius: 0px 0px 25px 25px;
    border: 1px solid #cecfcc;
    padding: 0px 25px 20px 25px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.header-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tab {
font-size: 15px !important;
font-weight: bold;
}

.header-nav-icons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header-nav-icons input {
    margin-right:4px;
}

.header-nav-icons p {
    margin-bottom: 0 !important;
    
}